/*-- scss:defaults --*/
$font-family-sans-serif: "Montserrat";
$link-color: #be0021;


/*-- scss:rules --*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

pre, code, .callout, .sourceCode {
    display: none;
}

svg.marks {
  display: block;
  margin: auto;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    // height: 22vh;
    overflow: hidden;
}
  
.image-container img {
    // position: absolute;
    // left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    // top: -10%; /* Move the image up by 10% to crop some from the top */
    // bottom: -10%; /* Optionally move it down to control the bottom cropping */
}

h1, h2, h3 {
    color: #be0021;
    border-bottom: none;
}

h1 {
    margin-bottom: 0;
}

h4 {
  font-size: 13px;
  font-weight: bold;
  margin-top: 1.25em;
}

.scroll-target {
  scroll-margin-top: 20px; /* Adds a 100px margin when scrolled into view */
}

.navbar {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // z-index: 1000;
    background: url(img/struktur-footer.png);
}

.nav-footer {
    background: url(img/struktur-footer.png);
    padding-top: 1em;
    line-height: 1;
    border: none;
    outline: none;
}

.nav-footer a {
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
    display: inline-block; /* or 'block' if you need block-level */
}

.navbar-toggler {
    display: none;
}

.nav-link.active {
    color: #be0021 !important;
    display: none;
}

.separator {
    padding: 0em 1em 0em 1em !important;
}

form {
    padding: 0.2em 0 0.2em 0;
}

.infoText {
    font-size: 0.8rem;
    margin: 0.5rem 0 1.2rem 0;
}

.fold-container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  min-width: 300px; /* Adjust the minimum width */
  padding: 10px;
}

.column ojs {
  display: inline-block; /* Make sure the OJS elements follow the column layout */
  width: 100%; /* Ensure the input spans the full width */
}

@media (max-width: 826px) {
  .column {
    flex: 100%; /* Stack the columns vertically below 826px */
  }
}

.fade-element {
  opacity: 0; /* Start hidden by default */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for fading */
  height: 0;
  overflow: hidden;
}

.fade-element.active {
  opacity: 1;
  height: auto;
}

.btn.disabled {
  pointer-events: none;
  display: none;
  opacity: 0.6;
}

@media screen and (max-width: 826px) {
    form {
        padding: 0 0 0 0;
    }
}

.column-body {
    background: url(img/struktur-footer.png);
    // padding: 0em 2em 0 2em;
    // margin: 0 0 1rem 0;
}

.column-margin {
    margin: 12px 12px 12px 12px;
}

@media screen and (max-width: 826px) {
    .page-full {
        --bs-gutter-x: 8px;
    }
}

.btn-container {
    margin: 1.5em 0 1.5em 0;
}

/* tooltip:   */
#vg-tooltip-element, .tooltip {
    background-color: rgba(255,255,255,1);
    border-radius: 0px;
    border: 0px solid;
    font-family: "Montserrat";
    font-Size: 13px;
    margin: 0px 0px 0px 0px;
}
.tooltip {
    background-color: rgba(255,255,255,1);
    border-radius: 0px;
    border: 0px solid;
    font-family: "Montserrat";
    font-Size: 13px;
    margin: 0px 0px 0px 0px;
    padding: 12px 12px 12px 12px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    border-radius: 0;
    cursor: pointer;
    position: relative;
}

input[type="radio"][value="0"]:checked + label {
    color: #be0021;
}

input[type="radio"][value="0"]:checked {
    background-color: #be0021;
    border-color: #be0021;
}

input[type="radio"][value="1"]:checked + label {
    color: #ffa500;
}

input[type="radio"][value="1"]:checked {
    background-color: #ffa500;
    border-color: #ffa500;
}

input[type="number"] {
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

input[type="number"]:focus {
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

/* Range input styling */
input[type="range"] {
    -webkit-appearance: none;  /* Hides the slider so that custom slider can be made */
    appearance: none;
    width: 90%;
    background: transparent;   /* Otherwise white in Chrome */
    margin-right: 10px;
}

/* Slider track */
input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    cursor: pointer;
    background: #ddd;
    border-radius: 0;
    border-color: "black";
}

input[type="range"]::-moz-range-track {
    height: 5px;
    cursor: pointer;
    background: #ddd;
    border-radius: 0;
    border-color: "black";
}

input[type="range"]::-ms-track {
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: "black";
    color: transparent;
}

/* Slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-color: "black";
    border-radius: 0;
    background: #be0021;
    cursor: pointer;
    margin-top: -3.5px; /* To properly align the thumb with the track */
}

input[type="range"]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-color: "black";
    border-radius: 0;
    background: #be0021;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    width: 12px;
    height: 12px;
    border-color: "black";
    border-radius: 0;
    background: #be0021;
    cursor: pointer;
}

output {
    font-family: "Montserrat" !important;
    font-size: 15px !important;
}