/*-- scss:defaults --*/
$font-family-sans-serif: "Montserrat";
$link-color: #be0021;


/*-- scss:rules --*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

pre, code, .callout, .sourceCode {
    display: none;
}

h1, h2, h3 {
    color: #be0021;
    border-bottom: none;
}

h4 {
    font-size: 13px;
    margin-top: 2em;
    font-weight: bold;
}

.navbar {
    background: url(img/struktur-footer.png);
}

.nav-footer {
    background: url(img/struktur-footer.png);
    padding-top: 1em;
}

.navbar-toggler {
    display: none;
}

.nav-link.active {
    color: #be0021 !important;
    display: none;
}

.separator {
    padding: 1.25em 1em 1.25em 1em !important;
}

form {
    padding: 0.2em 0 0 0;
}

.slide {
    display: none;
  }

.slide.active {
    display: block;
    // height: 600px;
}

@media screen and (max-width: 826px) {
    form {
        padding: 0 0 0 0;
    }
}

p {
    margin-bottom: 1em;
}

.column-body {
    background: url(img/struktur-footer.png);
    padding: 0em 2em 0 2em;
    // margin: 0 0 1rem 0;
}

// .column-margin {
//     // text-align: justify;
//     font-size: 0.8em;
//     margin: 12px 12px 12px 12px;
// }

@media screen and (max-width: 826px) {
    .page-full {
        --bs-gutter-x: 0;
    }
}


.btn {
    margin: auto auto 12px auto;
}

/* tooltip:   */
#vg-tooltip-element, .tooltip {
    background-color: rgba(255,255,255,1);
    border-radius: 0px;
    border: 0px solid;
    font-family: "Montserrat";
    font-Size: 13px;
    margin: 0px 0px 0px 0px;
}
.tooltip {
    background-color: rgba(255,255,255,1);
    border-radius: 0px;
    border: 0px solid;
    font-family: "Montserrat";
    font-Size: 13px;
    margin: 0px 0px 0px 0px;
    padding: 12px 12px 12px 12px;
}


input[type="radio"] {
    cursor: pointer;
}

input[type="radio"]:checked + label {
    color: #be0021;
}
  
input[type="radio"]:checked {
    accent-color: #be0021;
}

/* Range input styling */
input[type="range"] {
    -webkit-appearance: none;  /* Hides the slider so that custom slider can be made */
    appearance: none;
    width: 100%;
    background: transparent;   /* Otherwise white in Chrome */
    margin-right: 10px;
}

/* Slider track */
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ddd;
    border-radius: 5px;
    border-color: "black";
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ddd;
    border-radius: 5px;
    border-color: "black";
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: "black";
    color: transparent;
}

/* Slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-color: "black";
    border-radius: 50%;
    background: #be0021;
    cursor: pointer;
    margin-top: -5px; /* To properly align the thumb with the track */
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-color: "black";
    border-radius: 50%;
    background: #be0021;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    border-color: "black";
    border-radius: 50%;
    background: #be0021;
    cursor: pointer;
}